.dashboard{
    margin-top: 8rem;
}

.dashboard__btn-wrapper .btn {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 65, 40) !important;
  color: #fff;
  border: 2px solid rgb(0, 65, 40) !important;
}

.dashboard__btn-wrapper .btn:hover {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 65, 40) !important;
  color: #fff;
  border: 2px solid rgb(0, 65, 40) !important;
}

.dashboard__btn-wrapper .dropdown-item {
       padding-top: .5rem !important;
       padding-bottom: .5rem !important;

}

.dropdown-item:active {
    background-color: #efefef !important;
    color: #111 !important;
}

.dropdown-item:hover{
    color: rgb(0, 65, 40) !important;

}

.loanTable{
  cursor: pointer;
}

.applicationZero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(80vh - 70px);
}

.applicationZero h2 {
  text-transform: capitalize;
  text-align: center;
}