.about {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 80vh; */
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}

.about__wrapper .about__left {
  flex: 1;
}

.about__left img {
  max-height: 415px;
  object-fit: cover;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
  border-radius: 3px;
}

.about__wrapper .about__right {
  flex: 1;
  margin-left: 2rem;
}

.about__right h2 {
  line-height: 1.4;
  margin-bottom: 4%;
  font-weight: 800;
  font-family: "DM Serif Display", serif;
  font-size: 2.813rem ;
  color: rgb(0, 65, 40);
}

.about__wrapper p {
  /* max-width: 480px; */
  line-height: 2;
  margin-bottom: 2rem;
  font-size: 0.975rem;
}

.about__right a {
    width: fit-content;
    outline: none;
    border: none;
    padding: 0.9rem 2.5rem !important;
    background-color: rgb(0, 65, 40);
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
    border-radius: 3px;
    text-transform: capitalize !important;
}


.home_about {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  margin-top: 5rem;
  justify-content: space-between;
  align-self: center;
}

.home_about .home_about-content {
  width: 21.875rem;
  height: 16.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.home_about .home_about-content:first-child {
  background-color: rgb(0, 65, 40);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
}

.home_about .home_about-content:nth-child(2) {
  background-color: rgb(0, 65, 40);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
}

.home_about .home_about-content:nth-child(3) {
  background-color: rgb(0, 65, 40);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
}

.home_about-content .icon {
  font-size: 4rem;
}

.home_about-content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.813rem;
  margin-top: 1rem;
}

.home_about-content p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}

@media (max-width: 786px) {
  .about__wrapper {
    gap: 4rem;
    flex-direction: column;
  }

  .about .container{
      width: 90%;
  margin: auto;
  }
}
