.demo {
  margin: 6rem auto;
  padding: 1rem;
  width: 100%;
}

.demo .demo_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.demo .col-1s {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.demo .col-1s p:nth-child(1) {
  margin: 0.5rem 0;
  line-height: 1.4;
  margin-bottom: 4%;
  font-weight: 800;
  font-family: "DM Serif Display", serif;
  font-size: 2.813rem;
  color: rgb(0, 65, 40);
}

.demo .col-1s a {
  width: fit-content;
 outline: none;
  border: none;
  padding: 0.9rem 2.5rem;
  background-color: rgb(0, 65, 40);
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.03) 0px 1px 3px -1px;
  border-radius: 3px;
  text-transform: capitalize !important;
}

.demo .col-1s p:nth-child(2) {
  line-height: 2;
  margin-bottom: 8px;
  font-size: 0.975rem;
}

.demo .col-2s {
  margin: auto;
}

@media screen and (max-width: 940px) {
  .demo .container {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .demo iframe {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 568px) {
  .demo {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
}
}
